.form {
  &__input {
    outline: none;
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-bottom: 3px solid var(--color-blue);
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;

    &:invalid {
      border-bottom: 3px solid var(--color-red);
    }
  }
}
